openpanel.r2y.ru {
    encode gzip
    
    handle_path /api* {
        reverse_proxy op-api:3000
    }

    reverse_proxy /* op-dashboard:3000
}

worker.openpanel.r2y.ru {
    encode gzip

    basic_auth {
        admin $2b$10$xXJqPo4RlCE7E2g0GYWyAevLmLybDHqKvb76Vwy4sPaJ.6kynNY/2
    }

    reverse_proxy op-worker:3000
}