# System
DAPPS_DOMAIN=example.com
DAPPS_HOST_NAME=Example
DAPPS_ADMIN_MAIL=mymail@icloud.com
DAPPS_ADMIN_DEFAULT_PASS=changemeplease
# acmeCloudflareDnsChallengeResolver or acmeHttpChallengeResolver
DAPPS_CERTIFICATE_RESOLVER=acmeCloudflareDnsChallengeResolver
DAPPS_CLOUDFLARE_DNS_API_TOKEN=CLOUDFLARE_TOCKEN
DAPPS_TIMEZONE=Europe/Berlin
DAPPS_DATABASE_PASSWORD=DATABASE_PASSWORD
DAPPS_KEY_HEX_16=KEY_HEX_16
DAPPS_KEY_HEX_32=KEY_HEX_32
DAPPS_KEY_HEX_64=KEY_HEX_64
DAPPS_KEY_BASE64_32=base64:KEY_BASE64_32
DAPPS_TELEGRAM_TELEGRAM_TOKEN=BOT_ID:DAPPS_TELEGRAM_TELEGRAM_TOKEN
DAPPS_TELEGRAM_CHAT=TELEGRAM_CHAT
DAPPS_SHOUTRRR_TELEGRAM_NOTIFICATION_URL=telegram://BOT:KEY@telegram?chats=TELEGRAM_CHAT&preview=false
DAPPS_HTPASSWD='admin:DAPPS_HTPASSWD'
DAPPS_SMTP_HOSTNAME=SMTP_HOSTNAME
DAPPS_SMTP_PORT=SMTP_PORT
DAPPS_SMTP_USERNAME=SMTP_USERNAME
DAPPS_SMTP_PASSWORD=SMTP_PASSWORD
DAPPS_SMTP_FROM=from@example.com
DAPPS_S3_HOST=abc.r2.cloudflarestorage.com
DAPPS_S3_REDION=auto
DAPPS_S3_ACCESS_KEY_ID: some-key
DAPPS_S3_SECRET_ACCESS_KEY: some-secret-key
# Apps
BESZEL_AGENT_PUBLIC_KEY='ssh-ed25519 PUBLIC_KEY'
RSSHUB_ACCESS_KEY=RSSHUB_ACCESS_KEY
RSSHUB_TWITTER_AUTH_TOKEN=RSSHUB_TWITTER_AUTH_TOKEN
RSSHUB_YOUTUBE_KEY=RSSHUB_YOUTUBE_KEY
RSSHUB_MEDIUM_CONFIG=MEDIUM_COOKIE_ineedjet=1:3yn84+XXx6BpI/xIpyVh0AqK00lFLeEyFE0A1v/Uq4G9Q58TvIL5/i6T/3KcqefR
RSSHUB_EMAIL_CONFIG=EMAIL_CONFIG_mymail_icloud_com=password=12345-678-91011-121314&host=imap.mail.me.com&port=993
ICLOUDPD_USERNAME=mymail@icloud.com
ICLOUDPD_PASSWORD=use-apple-appps-passwords
ICLOUDPD_ALBUM=AlbumForSynk
CODECOV_S3_BUCKET=codecov
