# System
DAPPS_DOMAIN=example.com
DAPPS_ADMIN_MAIL=mymail@icloud.com
DAPPS_ADMIN_DEFAULT_PASS=changemeplease
DAPPS_TIMEZONE=Europe/Berlin

# Apps
BESZEL_AGENT_PUBLIC_KEY='ssh-ed25519 YOUR_PUBLIC_KEY'
RSSHUB_ACCESS_KEY=00000000-0000-0000-0000-000000000000
RSSHUB_TWITTER_AUTH_TOKEN=5934c993cd000000000000000000000000
RSSHUB_YOUTUBE_KEY=AIzaSyCv520000000000002000000000000
RSSHUB_MEDIUM_CONFIG=MEDIUM_COOKIE_ineedjet=1:3yn84+XXx6BpI/xIpyVh0AqK00lFLeEyFE0A1v/Uq4G9Q58TvIL5/i6T/3KcqefR
RSSHUB_EMAIL_CONFIG=EMAIL_CONFIG_mymail_icloud_com=password=12345-678-91011-121314&host=imap.mail.me.com&port=993
