# System
DAPPS_DOMAIN=...
DAPPS_HOST=...
DAPPS_HOST_NAME=...
DAPPS_INTERNAL_IP=...
DAPPS_ADMIN_MAIL=...
DAPPS_ADMIN_DEFAULT_PASS=...
DAPPS_CERTIFICATE_RESOLVER=...
DAPPS_CLOUDFLARE_DNS_API_TOKEN=...
DAPPS_TIMEZONE=...
DAPPS_UID=...
DAPPS_GID=...
# Database and secrets
DAPPS_DATABASE_PASSWORD=...
DAPPS_KEY_HEX_16=...
DAPPS_KEY_HEX_32=...
DAPPS_KEY_HEX_64=...
DAPPS_KEY_BASE64_32=...
DAPPS_HTPASSWD=...
# OAuth
DAPPS_GOOGLE_OAUTH_CLIENT_ID=...
DAPPS_GOOGLE_CLIENT_SECRET=...
# Notifications
DAPPS_TELEGRAM_TELEGRAM_TOKEN=...
DAPPS_TELEGRAM_CHAT=...
DAPPS_SHOUTRRR_TELEGRAM_NOTIFICATION_URL=...
# SMTP
DAPPS_SMTP_HOSTNAME=...
DAPPS_SMTP_PORT=...
DAPPS_SMTP_USERNAME=...
DAPPS_SMTP_PASSWORD=...
DAPPS_SMTP_FROM=...
# S3
DAPPS_S3_HOST=...
DAPPS_S3_REGION=...
DAPPS_S3_ACCESS_KEY_ID=...
DAPPS_S3_SECRET_ACCESS_KEY=...
# Apps
TRAEFIK_HTTP_PORT=...
TRAEFIK_HTTPS_PORT=...
BESZEL_AGENT_PUBLIC_KEY=...
BESZEL_DISK_1_DEVICE=...
BESZEL_DISK_2_DEVICE=...
RSSHUB_ACCESS_KEY=...
RSSHUB_TWITTER_AUTH_TOKEN=...
RSSHUB_YOUTUBE_KEY=...
ICLOUDPD_USERNAME=...
ICLOUDPD_PASSWORD=...
ICLOUDPD_ALBUM=...
ICLOUDPD_DATA_PATH=...
CODECOV_LICENSE=...
CODECOV_ADMIN_GITHUB_USERNAME=...
CODECOV_GITHUB_CLIENT_ID=...
CODECOV_GITHUB_CLIENT_SECRET=...
CODECOV_GITHUB_WEBHOOK_SECRET=...
CODECOV_GITHUB_APP_ID=...
CODECOV_S3_BUCKET=...
