/traefik/acme.json
/*/data
/*/storage
/*/extensions
/*/config
/*/files
/*/icons
/*/keys
/*/mysql
/*/postgresql
/*/mongodb
/*/clickhouse
/*/logs
/*/redis
/*/influxdb
/*/plugins
/.env
/apps.env
/servers.env
/runtipi
